# Getting started with the Blaze ecosystem

_The following content in this block has been take from the talk: [Christine Doig - Scale your data, not your process: Welcome to the Blaze Ecosystem](https://www.youtube.com/watch?v=QKBcnEhkCtk)_.

## Five areas of Data Science
- Scientific Computing (Research/Computational Scientists) - Algorithms
- ML/Stats (Data Scientists) - Models
- Analytics (Data/Business Analyst) - Reports
- Web (Developers) - Applications
- Distributed systems (Architects) - Pipeline/Architecture

## The Data Science Triforce
- Data -> metadata and storage/containers (semantics)
- Expressions -> API/syntax/language (simplicity/compression and accessibility)
- Engine -> compute (performance)

##### EXAMPLE: numpy
- Data -> metadata (numpy dtypes - np.int32, np.float64, etc.) and storage/containers (np.ndarray)
- Engine -> compute (Numpy- python + FFTW(C) + BLAS(Fortran))
- Expressions -> API, syntax, language (a = arange(15).reshape(3,5))

Different tools (pandas, numpy, spark, sqlDB) have their limitations with respect to different components of the DS triforce.

## Enter Blaze
To allow for rich and performant data analytics, Blaze uses and provides interface to various external projects including:
- datashape (data description language)
- DyND (dynamic, multidimensional arrays)
- odo (data migration)
- numba (code optimization)
- dask (parallel computing)
- bcolz (column store and query)

## Data

In [7]:
# Blaze can be used to query data on different storage systems
from blaze import Data

# You can query good plain ol' CSVs
iris = Data('iris.csv')

# But you can also query a JSON, MongoDB, SQLite, S3, etc.
# iris = Data('sqlite:///flowers.db::iris')
# iris = Data('mongodb://localhost/mydb::iris')
# iris = Data('iris.json')
# iris = Data('s3://blaze-data/iris.csv')

### The data, once read in, can be acted upon in a uniform manner irrespective of the source.

In [8]:
# Select columns
iris[['sepal_length', 'species']]

    sepal_length      species
0            5.1  Iris-setosa
1            4.9  Iris-setosa
2            4.7  Iris-setosa
3            4.6  Iris-setosa
4            5.0  Iris-setosa
5            5.4  Iris-setosa
6            4.6  Iris-setosa
7            5.0  Iris-setosa
8            4.4  Iris-setosa
9            4.9  Iris-setosa
...

In [9]:
# Filter
iris[(iris.species == 'Iris-setosa') & (iris.sepal_length > 5.0)]

    sepal_length  sepal_width  petal_length  petal_width      species
0            5.1          3.5           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa
...

In [17]:
# Operate
from blaze import log
log(iris.sepal_length * 10)

    sepal_length
0       3.931826
1       3.891820
2       3.850148
3       3.828641
4       3.912023
5       3.988984
6       3.828641
7       3.912023
8       3.784190
9       3.891820
...

In [14]:
# Reduce
iris.sepal_length.mean()

5.843333333333334

In [16]:
# Split-apply-combine
from blaze import by
by(iris.species, shortest=iris.petal_length.min(),
                  longest=iris.petal_length.max(),
                  average=iris.petal_length.mean())

           species  average  longest  shortest
0      Iris-setosa    1.464      1.9       1.0
1  Iris-versicolor    4.260      5.1       3.0
2   Iris-virginica    5.552      6.9       4.5

In [18]:
# Add new columns
from blaze import transform
transform(iris, sepal_ratio=iris.sepal_length/iris.sepal_width, petal_ratio=iris.petal_length/iris.petal_width)

,sepal_length,sepal_width,petal_length,petal_width,species,petal_ratio,sepal_ratio
0,5.1,3.5,1.4,0.2,Iris-setosa,7.000000,1.457143
1,4.9,3.0,1.4,0.2,Iris-setosa,7.000000,1.633333
2,4.7,3.2,1.3,0.2,Iris-setosa,6.500000,1.468750
3,4.6,3.1,1.5,0.2,Iris-setosa,7.500000,1.483871
4,5.0,3.6,1.4,0.2,Iris-setosa,7.000000,1.388889
5,5.4,3.9,1.7,0.4,Iris-setosa,4.250000,1.384615
6,4.6,3.4,1.4,0.3,Iris-setosa,4.666667,1.352941
7,5.0,3.4,1.5,0.2,Iris-setosa,7.500000,1.470588
8,4.4,2.9,1.4,0.2,Iris-setosa,7.000000,1.517241
9,4.9,3.1,1.5,0.1,Iris-setosa,15.000000,1.580645
10,5.4,3.7,1.5,0.2,Iris-setosa,7.500000,1.459459

In [19]:
# Relabel columns
iris.relabel(petal_length='PETAL-LENGTH', petal_width='PETAL-WIDTH')

    sepal_length  sepal_width  PETAL-LENGTH  PETAL-WIDTH      species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
...

In [27]:
# Text macthing
from blaze import like
like(iris.species, '*versicolor')

   species
0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
...

### Blaze Server

Way of building a uniform interface that allows you to host data remotely through a JSON web api. It can be configured through a config yaml file. One is present in this repository (server.yaml).

To spin up the server, run the following on your command-line:
```
blaze-server server.yaml --follow-links
```
The iris dataset can now be accessed through the API provided by this server.

In [36]:
s = Data('blaze://localhost:6363')
print(s.fields)
s.iriscsv

['iriscsv']

    sepal_length  sepal_width  petal_length  petal_width      species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
...

Any operations performed on the iris data previously can also be performed through the API.

## datashape

[_datashape_](http://datashape.pydata.org) is a structured data description language.

A datashape unit is composed of a dimension and a dtype.  
examples - var x int32, 3 x string, 4 x float64 

The unit types can be combined to form ordered structured dtypes or records. These are collection of types keyed by labels.
example - {x: int32, y: string, z: float64}
The records can be used to represent semi-structured or unstructured data.
example - var x {x: int32, y: string, z: float64}

Blaze uses datashape as its type system

In [38]:
iris.dshape

dshape("""var * {
  sepal_length: float64,
  sepal_width: float64,
  petal_length: float64,
  petal_width: float64,
  species: ?string
  }""")

## odo

[_odo_](http://odo.pydata.org/en/latest/) is a data migration tool. It takes a source and a target.  
Format: `odo(source, target)`

In [40]:
from odo import odo
# This will create a 
odo('iris.csv', 'iris.json')

# Examples
# odo('iris.json', 'sqlite:///flowers.db::iris')
# odo('iris.json', 'mongodb://localhost/mydb::iris')
# odo('iris.csv', 'hdfs://hostname:iris.csv')

Under the hood, odo is a network of different formats. It finds the most efficient way to convert from one format to another.  
Blaze depends on odo to handle URIs. The URIs valid for blaze are the ones valid for odo.

## dask

[_Dask_](http://dask.pydata.org/en/latest/) enables parallel computing.  

If data is on the scale of GBs, it fits in and can be computed in-memory. Single core computing aided by numpy and pandas suffices for this.  
When we move on to the scale of TBs or PBs, the data doesn't fit in-memory but fits on disk or on many disks. Parallel computing can be used to process and perform computations on such data on disk (shared memory) or on many disks (distributed cluster). Dask brings the power of parallel computing to users of numpy and pandas.

### Parallels between numpy and dask

In [70]:
import numpy as np
import dask.array as da

np_ones = np.ones((5000, 1000))
da_ones = da.ones((5000, 1000), chunks=(1000, 1000))

print("Numpy:")
print(np_ones)
print("Dask:")
print(da_ones.compute())

Numpy:
[[ 1.  1.  1. ...,  1.  1.  1.]
 [ 1.  1.  1. ...,  1.  1.  1.]
 [ 1.  1.  1. ...,  1.  1.  1.]
 ...,
 [ 1.  1.  1. ...,  1.  1.  1.]
 [ 1.  1.  1. ...,  1.  1.  1.]
 [ 1.  1.  1. ...,  1.  1.  1.]]
Dask:
[[ 1.  1.  1. ...,  1.  1.  1.]
 [ 1.  1.  1. ...,  1.  1.  1.]
 [ 1.  1.  1. ...,  1.  1.  1.]
 ...,
 [ 1.  1.  1. ...,  1.  1.  1.]
 [ 1.  1.  1. ...,  1.  1.  1.]
 [ 1.  1.  1. ...,  1.  1.  1.]]

We need to use the `.compute()` since dask performs lazy evaluation

In [69]:
np_y = np.log(np_ones + 1)[:5].sum(axis=1)
da_y = da.log(da_ones + 1)[:5].sum(axis=1)

# If the result fits in memory, you can convert it into a numpy array
np_da_y = np.array(da_y)

# Otherwise, you can store it on disk
da_y.to_hdf5('myfile.hdf5', 'result')

### Parallels between pandas and dask

In [61]:
import pandas as pd
import dask.dataframe as dd

df = pd.read_csv('iris.csv')
ddf = dd.read_csv('*.csv')

print("Pandas:\n", df.head())
print("Dask:\n", ddf.head())

Pandas:
    sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
Dask:
    sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [68]:
max_sepal_length_setosa = df[df.species == 'Iris-setosa'].sepal_length.max()
d_max_sepal_length_setosa = ddf[ddf.species == 'Iris-setosa'].sepal_length.max()

print(max_sepal_length_setosa)
print(d_max_sepal_length_setosa.compute())

5.8
5.8